body {
  display: flex; /* Använder flexbox för att centrera innehållet */
  flex-direction: column; /* Lägger innehållet i en kolumn */
  align-items: center; /* Centrerar innehållet horisontellt */
  justify-content: center; /* Centrerar innehållet vertikalt */
  min-height: 100vh; /* Minimum höjd på sidan */
  margin: 0; /* Resettar standardmarginalen */
  background-color: rgba(237, 240, 224, 0.911); 
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


.grid-wrapper {
  display: grid;
  grid-template-rows: auto; /* En rad för varje element */ 
  width: 20rem; /* Sätter en maxbredd för griden */
}

.container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;   /* Ger en kolumn */
  padding: 10px;
  font-size: 1rem;       
}

.grid-item {
  display: grid;
  grid-template-columns: auto 1fr; /* Två kolumner */
  width: 20rem;    
  align-items: center; /* Centererar innehållet vertikalt */
  border: 1px solid #3f3e3e; 
  border-radius: 10px; /* Ger rundade hörn */
  overflow: hidden; /* Döljer innehåll som är större än boxen */
  box-shadow: 4px 4px 4px 0 rgba(65, 62, 62, 0.863); /* ger skugga på boxen */
  transition: transform 0.3s ease; /* Övergångseffekt */
  margin-top: 15px; /*  Ger utrymme mellan boxarna */
  background-color: rgba(234, 238, 214, 0.973);       
}

.grid-item:hover { 
  transform: scale(1.10); /* Gör boxen större på hover */
  z-index: 10; /* Gör så att boxen hamnar över andra boxar */
  color: black; /* Ändrar färg på texten till svart vid hover*/
  font-weight: 600; /* Gör texten fet vid hover */
  box-shadow: 8px 8px 8px 0 rgba(44, 43, 43, 0.863); /* Ger mörkare skugga på boxen vid hover */   
}

.grid-item:hover .member-label, 
.grid-item:hover .user-info {
  filter: brightness(70%); /* Gör texten mörkare på hover */
  color: black; 
  font-weight: 600    
}

.member-label {
  padding: 10px;   
  text-align: center; /* Centrerar texten horisontellt */    
}

.user-info {
  color: rgb(44, 42, 42); 
  font-weight: normal; 
  margin: 0; /* Resettar standardmarginalen */
  padding: 10px;
 
}

.headline {     
  color: rgba(46, 41, 41, 0.842); 
  font-weight: 600; 
  text-align: center; 
  margin-top: 3rem;     
}

.headline:hover{
  font-weight: bolder;
  transform: scale(1.25);
}